/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS01HelloWorld/WS01HelloWorld/nbproject/private/
/assignments/unit1/HW02AreaPriceAndDiagonalGround/nbproject/private/
/assignments/unit1/HW02AreaPriceAndDiagonalGround/build/
/assignments/unit1/HW02AreaPriceAndDiagonalLand/nbproject/private/
/assignments/unit1/HW02AreaPriceAndDiagonalLand/build/
/assignments/unit1/HW01SquareArea/nbproject/private/
/assignments/unit1/HW01SquareArea/build/
/assignments/unit1/HW02SquareArea/nbproject/private/
/assignments/unit1/HW02SquareArea/build/
/assignments/unit1/SquarePerimetro/nbproject/private/
/assignments/unit1/SquarePerimetro/build/
/assignments/unit1/WS04LogicalOperators/nbproject/private/
/assignments/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05/nbproject/private/
/workshops/unit1/WS05/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/unit1/HW03Iterations/nbproject/private/
/assignments/unit1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/unit1/HW04ExponentMenu/nbproject/private/
/assignments/unit1/HW04ExponentMenu/build/
/assignments/unit1/HW04CalculatorMenu/nbproject/private/
/assignments/unit1/HW04CalculatorMenu/build/
/exams/unti1/CalderónDayanaQ11/nbproject/private/
/exams/unti1/CalderónDayanaQ11/build/
/proyect/PY01KatherineJhonson/nbproject/private/
/proyect/PY01KatherineJhonson/build/
/workshops/unit2/WS08Debugging/nbproject/private/
/workshops/unit2/WS08Debugging/build/
/assignments/unit2/HW01FactorialNumber/nbproject/private/
/assignments/unit2/HW01FactorialNumber/build/
/assignments/unit2/HW05FactorialNumber/build/
/assignments/unit2/HW05FactorialNumber/nbproject/private/
/assignments/unit2/HW06EmbeddedStructures/nbproject/private/
/assignments/unit2/HW06EmbeddedStructures/build/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/assignments/unit2/HW07Functions/nbproject/private/
/assignments/unit2/HW07Functions/build/
/workshops/unit2/WS11Factorial/nbproject/private/
/workshops/unit2/WS11Factorial/build/
/workshops/unit2/WS11FUNCTIONS/WS11Factorial/build/
/assignments/unit2/HW08Recursion/nbproject/private/
/assignments/unit2/HW08Recursion/build/
/assignments/unit2/HW08Recursion/dist/
/assignments/unit2/HW07Functions/dist/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/assignments/unit2/HW09Taxes/nbproject/private/
/assignments/unit2/HW09TaxesFunctions/nbproject/private/
/assignments/unit2/HW09TaxesFunctions/build/
/assignments/unit2/HW09Taxes/build/
/workshops/unit2/WS13/nbproject/private/
/workshops/unit2/WS13Task/nbproject/private/
/workshops/unit2/WS13Task/build/
/workshops/unit2/WS14Errays/UniversityCarrerFinder/nbproject/private/
/workshops/unit2/WS14Errays/UniversityCarrerFinder/build/
/workshops/unit2/WS14Arrays/UniversityCarrerFinder/build/
/workshops/unit2/WS14Arrays/UniversityCarrerFinder/nbproject/private/
/workshops/unit2/WS14Arrays/UniversityCarrerArrays/nbproject/private/
/workshops/unit2/WS14Arrays/UniversityCarrersFinder/nbproject/private/
/workshops/unit2/WS14Arrays/UniversityCarrersFinder/build/
/assignments/unit2/HW10Arrays/nbproject/private/
/assignments/unit2/HW10Arrays/build/
/quizes/unit2/ArrayQuiz/nbproject/private/
/quizes/unit2/ArrayQuiz/build/
/workshops/unit2/WS15Q01Solution/nbproject/private/
/workshops/unit2/WS15Q01Solution/build/
/workshops/unit2/WS16BidimensionalArray/MatrixAddition/nbproject/private/
/workshops/unit2/WS16BidimensionalArray/MatrixAddition/build/
/assignments/unit2/HW11MatrixOperation/nbproject/private/
/assignments/unit2/HW11MatrixOperation/build/
/workshops/unit2/w/nbproject/private/
/workshops/unit2/w/build/
/assignments/unit2/HW12MatrixFunctions/nbproject/private/
/assignments/unit2/HW12MatrixFunctions/build/
/exams/unit2/CalderonDQ11/nbproject/private/
/exams/unit2/CalderonDQ11/build/
/workshops/unit3/WS17ArraysInsperction/CalvacheEQ11/build/
/workshops/unit3/WS17ArraysInsperction/CalvacheEQ11/nbproject/private/
/workshops/unit2/WS17MatrixTranspose/build/
/workshops/unit2/WS17MatrixTranspose/nbproject/private/
/workshops/unit3/WS18ArrayInspection/WS18Inspection/nbproject/private/
/workshops/unit3/WS18ArrayInspection/WS18Inspection/build/
/workshops/unit2/WS11FUNCTIONS/WS11Factorial/dist/
/workshops/unit2/WS13Task/dist/
/workshops/unit2/WS17MatrixTranspose/dist/
/workshops/unit2/WS10Functions/dist/
/workshops/unit3/WS18ArrayInspection/WS18Inspection/dist/